@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.gutter.gutter-horizontal:hover {
  background-image: none;
}

.gutter.gutter-horizontal:hover::after {
  position: relative;
  display: block;
  border-radius: 2px;
  content: '';
  height: 2px;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
}

.gutter.gutter-horizontal:hover::after {
  background-color: var(--chakra-colors-blue-60);
  height: 100%;
}
